{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="description" content="">	
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" href="{% static 'img/favicon/favicon.png' %}" type="image/x-icon" />
	
	<!-- CSS
	================================================== -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Template styles-->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Responsive styles-->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<!-- Animation -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme-min.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
	<!-- Flexslider -->
	<link rel="stylesheet" href="{% static 'css/cd-hero.css' %}">
	
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
	
<body>

	<div class="body-inner home2">

	<!-- Top Navbar	-->
	<div id="top-bar" class="top-bar">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-6">
					<span class="top-social-title">Stay Connected:</span>
					<ul class="top-social unstyled">
						<li>
							<a title="Facebook" href="#">
								<span class="social-icon"><i class="fa fa-facebook"></i></span>
							</a>
							<a title="Twitter" href="#">
								<span class="social-icon"><i class="fa fa-twitter"></i></span>
							</a>
							<a title="Google+" href="#">
								<span class="social-icon"><i class="fa fa-google-plus"></i></span>
							</a>
							<a title="linkedin" href="#">
								<span class="social-icon"><i class="fa fa-linkedin"></i></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-6 col-md-offset-4">
					<ul class="top-menu unstyled">
						<li><a href="#">Request Form</a></li>
						{% if "username" in request.session %}
						 	<li><a href="adminpanel/">My Account</a></li>
						 {% else %}
						 	<li><a href="account/login">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div><!-- Row end -->
		</div><!-- Container end -->
	</div>

	<!-- Header start -->
	<header id="header" class="ts-header">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 logo-wrapper">
					<!-- Logo start -->
					<div class="navbar-header">
					    <div class="navbar-brand">
						    <a href="{% url 'home' %}">
						    	<div class="logo"></div>
						    </a> 
					    </div>                   
					</div><!--/ Logo end -->
				</div>

				<div class="col-md-8 col-sm-6 col-xs-12">
					<!--
					<div class="consult">
						<a href="#"><i class="icon icon-mail3"></i> <span>Request Free Consultation</span></a>
					</div>
					-->
					<ul class="top-info">
						<li>
							<div class="info-box"><span class="info-icon"><i class="fa fa-phone">&nbsp;</i></span>
								<div class="info-box-content">
									<p class="info-box-title">Customer Supports &amp; Sells</p>
									<p class="info-box-subtitle">(+89) 530-352-3027</p>
								</div>
							</div>
						</li>
						<li>
							<div class="info-box"><span class="info-icon"><i class="fa fa-compass">&nbsp;</i></span>
								<div class="info-box-content">
									<p class="info-box-title">Opening Times</p>
									<p class="info-box-subtitle">Mon - Fri 10.00 - 18.00</p>
								</div>
							</div>
						</li>
					</ul>
				</div>


			</div>
		</div>
	</header><!--/ Header end -->

	<!-- Navigation start -->
	<div class="navbar ts-mainnav">
		<div class="container">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>

			<nav class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="{% if request.resolver_match.url_name == "home" %}active{% endif %}">
                   		<a href="{% url 'home' %}">Home</a>
                    </li>
					<li class="dropdown {% if request.resolver_match.url_name == "about" or request.resolver_match.url_name == "ourteam" or request.resolver_match.url_name == "ourclients" or request.resolver_match.url_name == "career" or request.resolver_match.url_name == "faq" %}active{% endif %}">
                   		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Company <i class="fa fa-angle-down"></i></a>
                   		<div class="dropdown-menu">
							<ul>
	                            <li><a href="{% url 'about' %}">About Us</a></li>
	                            <li><a href="{% url 'ourteam' %}">Our Team</a></li>
	                            <li><a href="{% url 'ourclients' %}">Our Clients</a></li>
								<li><a href="{% url 'career' %}">Career</a></li>
	                            <li><a href="{% url 'faq' %}">FAQs</a></li>
	                        </ul>
                    	</div>
                    </li>
					<li class="{% if request.resolver_match.url_name == "industries" %}active{% endif %}">
                   		<a href="#">Industries</a>
                   	</li>
					<li class="{% if request.resolver_match.url_name == "products" %}active{% endif %}">
                   		<a href="#">Products</a>
                   	</li>
					<li class="{% if request.resolver_match.url_name == "investorrelations" %}active{% endif %}">
                   		<a href="#">Investor Relations</a>
                   	</li>
                    <li class="{% if request.resolver_match.url_name == "newsroom" %}active{% endif %}">
                   		<a href="#">News Room</a>
                   	</li>
                    <li class="{% if request.resolver_match.url_name == "contact" %}active{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
				</ul><!--/ Navbar-nav end -->
			</nav><!--/ Navigation end -->

			<!-- Search start -->
			<div id="head-search" class="head-search input-group">
				<form id="searchform" action="#">
					<div class="search">
						<input class="search-field form-control" placeholder="Type your search" type="search">
						<i class="fa fa-search"></i>
					</div>
				</form>
			</div>
			<!-- Search end -->
			
		</div><!--/ Container end -->
	</div> <!-- Navbar end -->

	{% block body %}
	{% endblock body %}


	<!-- Footer start -->
	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 footer-widget">
					<div class="footer-logo">
						<img src="{% static 'images/footerlogo.png' %}" alt="" />
					</div>

					<ul class="footer-social unstyled">
						<li>
							<a title="RSS" href="#">
								<span class="social-icon"><i class="fa fa-rss"></i></span>
							</a>
							<a title="Facebook" href="#">
								<span class="social-icon"><i class="fa fa-facebook"></i></span>
							</a>
							<a title="Twitter" href="#">
								<span class="social-icon"><i class="fa fa-twitter"></i></span>
							</a>
							<a title="Google+" href="#">
								<span class="social-icon"><i class="fa fa-google-plus"></i></span>
							</a>
							<a title="linkedin" href="#">
								<span class="social-icon"><i class="fa fa-linkedin"></i></span>
							</a>
							<a title="Pinterest" href="#">
								<span class="social-icon"><i class="fa fa-pinterest"></i></span>
							</a>
							<a title="Dribble" href="#">
								<span class="social-icon"><i class="fa fa-dribbble"></i></span>
							</a>
						</li>
					</ul>
	
				</div><!--/ End Recent Posts-->
				

				<div class="col-md-3 col-sm-12 footer-widget footer-about-us">
					<h3 class="widget-title"><strong>Get</strong> In Touch</h3>

					<p>We are a awward winning multinational company. We believe in quality and standard worldwide.</p>
					<h4><i class="fa fa-map-marker">&nbsp;</i> Head Office</h4>
					<p>BizSpeak Center, 3021 Horizon Circle Tukwila, WA 98188</p>

					<div class="row">
						<div class="col-md-6">
							<h4><i class="fa fa-envelope-o">&nbsp;</i> Email</h4>
							<p>hello@bizspeak.com</p>
						</div>
						<div class="col-md-6">
							<h4><i class="fa fa-phone">&nbsp;</i> Phone No</h4>
							<p>+253-480-8973</p>
						</div>
					</div>

				</div><!--/ end About us -->


				<div class="col-md-3 col-sm-12 footer-widget">
					<h3 class="widget-title"><strong>Industrial</strong> Market</h3>

					<ul class="list-arrow">
						<li><a href="#">Building Installations</a></li>
						<li><a href="#">Semiconductor</a></li>
						<li><a href="#">District Energy, Oil &amp; Gas</a></li>
						<li><a href="#">Water &amp; Gas Supply, Irrigation</a></li>
						<li><a href="#">Building Efficiency</a></li>
						<li><a href="#">Industrial</a></li>
						<li><a href="#">Automative</a></li>
						<li><a href="#">Turbine &amp; Aerospace</a></li>
						<li><a href="#">Machine Build</a></li>
						<li><a href="#">Water Treatment</a></li>
					</ul>
			
				</div><!--/ end Industrial market -->

				<div class="col-md-3 col-sm-12 footer-widget">
					<h3 class="widget-title"><strong>Company</strong> Quick Info</h3>

						<ul class="list-arrow">
							<li><a href="#">What We Do</a></li>
							<li><a href="#">Our businesses</a></li>
							<li><a href="#">Our markets</a></li>
							<li><a href="#">Cases</a></li>
							<li><a href="#">Our Responsibility</a></li>
							<li><a href="#">Code of Conduct</a></li>
							<li><a href="#">Investors</a></li>
							<li><a href="#">Latest News</a></li>
							<li><a href="#">Popular Blog</a></li>
							<li><a href="#">Resources</a></li>
						</ul>
					
				</div><!--/ end Industrial market -->

			</div><!-- Row end -->
		</div><!-- Container end -->

		<!-- Copyright start -->
		<section id="copyright" class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 copyright-info">
						Copyright © 2020 Technocs. All Rights Reserved.
					</div>

					<div class="col-sm-6 pull-right">
						<div class="footer-menu ">
							<ul class="nav">
								<li><a href="#">Investors</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Events</a></li>
								<li><a href="#">Case Studies</a></li>
								<li><a href="#">Videos</a></li>
							</ul>
						</div>
					</div>

				</div><!--/ Row end -->
			   <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
					<button class="btn btn-primary" title="Back to Top">
						<i class="fa fa-angle-double-up"></i>
					</button>
				</div>
			</div><!--/ Container end -->
		</section><!--/ Copyright end -->

	</footer><!-- Footer end -->
	
	<!-- Javascript Files
	================================================== -->

	<!-- initialize jQuery Library -->
	<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
	<!-- Bootstrap jQuery -->
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Style Switcher -->
	<script type="text/javascript" src="{% static 'js/style-switcher.js' %}"></script>
	<!-- Owl Carousel -->
	<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- Bxslider -->
	<script type="text/javascript" src="{% static 'js/jquery.flexslider.js' %}"></script>
	<!-- CD Hero slider -->
	<script type="text/javascript" src="{% static 'js/cd-hero.js' %}"></script>
	<!-- Isotope -->
	<script type="text/javascript" src="{% static 'js/isotope.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/ini.isotope.js' %}"></script>
	<!-- Eeasing -->
	<script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Counter -->
	<script type="text/javascript" src="{% static 'js/jquery.counterup.min.js' %}"></script>
	<!-- Waypoints -->
	<script type="text/javascript" src="{% static 'js/waypoints.min.js' %}"></script>
	<!-- Template custom -->
	<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
	</div><!-- Body inner end -->
</body>
</html>