{% extends 'base.html' %}
{% load static %}

{% block title %}
	FAQ - Technocs
{% endblock title %}

{% block body %}
	<div id="banner-area">
		<!-- Subpage title start -->
		<div class="banner-title-content">
			<div class="container">
	        	<ul class="breadcrumb" style="padding-top: 40px;">
		            <li>Home</li>
		            <li>Company</li>
		            <li><a href="#">Faq</a></li>
	          	</ul>
          	</div>
      	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- Clients -->
			<div class="row">
				<div class="col-md-12">
					<h2 class="article-title">Faq</h2>
				</div>
			</div><!-- Title row end -->

			<div class="row">

				<div class="col-md-12">
					<h3 class="title-normal">Just Find Your <strong>Answers</strong> Below:</h3>

					<div class="panel-group" id="accordion">
		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title"> 
				                	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									What About Excess Quantity, Termination &amp; Changes</a> 
				                </h4>
			                </div>
			                <div id="collapseOne" class="panel-collapse collapse in">
			                  	<div class="panel-body">
			                    	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			                 	</div>
			                </div>
		              	</div><!--/ Panel 1 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseTwo"> How You Deal Compliance With Laws &amp; Government?</a>
				            	</h4>
			                </div>
			                <div id="collapseTwo" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <p>Tumblr photo booth normcore, Bushwick Brooklyn hella fixie YOLO locavore umami Shoreditch. 3 wolf moon selfies readymade slow-carb, 90's craft beer synth sustainable. Cras mattis dui ac elit sollicitudin, eu rutrum quam pharetra. Etiam consectetur nunc vitae nibh egestas scelerisque. Nam sed auctor eros, et euismod leo. Integer ut fringilla nunc. Donec eget lacus lobortis, aliquam nulla ultricies, cursus libero.</p>
			                  </div>
			                </div>
		              	</div><!--/ Panel 2 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseThree"> How Can I Contact A Biz Industrial Web Order Representative?</a> 
				            	</h4>
			                </div>
			                <div id="collapseThree" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			                  </div>
			                </div>
		              	</div><!--/ Panel 3 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFour"> Is There Anything Special I Need To Do To Make My Bill-to/ship-to Tax Exempt?</a> 
				            	</h4>
			                </div>
			                <div id="collapseFour" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			                  </div>
			                </div>
		              	</div><!--/ Panel 4 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"> Who Do I Contact For A Biz Industrial Sheet?</a> 
				            	</h4>
			                </div>
			                <div id="collapseFive" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <p>This is Photoshop’s version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis</p>
			                  </div>
			                </div>
		              	</div><!--/ Panel 5 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseSix"> Do You Do Taxes Or Provide Tax Advice?</a> 
				            	</h4>
			                </div>
			                <div id="collapseSix" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <p><span class="list-icon pull-right"> <i class="fa fa-money"> </i></span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and</p>
			                    <a href="#">Read More</a>
			                  </div>
			                </div>
		              	</div><!--/ Panel 6 end-->


		            </div><!-- Accordion end -->
					
				</div><!--/ Content col end -->
				
			</div><!--/ Content row end -->

		</div><!--/ container end -->
			
	</section><!--/ Main container end -->

	<div class="gap-40"></div>

{% endblock body %}