{% extends 'base.html' %}
{% load static %}

{% block title %}
	FAQ - Technocs
{% endblock title %}

{% block body %}
	<div id="banner-area">
		<!-- Subpage title start -->
		<div class="banner-title-content">
			<div class="container">
	        	<ul class="breadcrumb" style="padding-top: 40px;">
		            <li>Home</li>
		            <li>Company</li>
		            <li><a href="#">Faq</a></li>
	          	</ul>
          	</div>
      	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- Clients -->
			<div class="row">
				<div class="col-md-12">
					<h2 class="article-title">Faq</h2>
				</div>
			</div><!-- Title row end -->

			<div class="row">

				<div class="col-md-12">
					<h3 class="title-normal">Just Find Your <strong>Answers</strong> Below:</h3>

					<div class="panel-group" id="accordion">
		              	
						{% for faq in faqs %}
						
						<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title"> 
				                	<a data-toggle="collapse" {% if forloop.counter > 1 %}class="collapsed"{% endif %} data-parent="#accordion" href="#collapse{{ forloop.counter }}">
									{{faq.question}}</a> 
				                </h4>
			                </div>
			                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
			                  	<div class="panel-body">
			                    	<p>{{faq.answer}}</p>
			                 	</div>
			                </div>
		              	</div>
						{% endfor %}

		            </div><!-- Accordion end -->
					
				</div><!--/ Content col end -->
				
			</div><!--/ Content row end -->

		</div><!--/ container end -->
			
	</section><!--/ Main container end -->

	<div class="gap-40"></div>

{% endblock body %}