{% extends 'base.html' %}
{% load static %}

{% block title %}Our Service - Technocs{% endblock title %}

{% block body %}
<div id="banner-area">
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="container">
        	<ul class="breadcrumb" style="padding-top: 40px;">
	            <li>Home</li>
	            <li>Industrial Market</li>
	            <li><a href="#"> Building Installations</a></li>
          	</ul>
       	</div>
   	</div><!-- Subpage title end -->
</div><!-- Banner area end -->
<!-- Main container start -->

<section id="main-container">
	<div class="container">

		<!-- About us -->
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<h2 class="article-title">Building Installations</h2>

					<img class="img-responsive" src="{% static 'images/market/bg3.jpg' %}" alt="">

					<h3 class="title-normal"> We Offer The Most Complete Product Innovation In The <strong>building Installations Market</strong></h3>
							
					<p>Project Overview Oat cake oat cake dessert brownie. Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. Project Details Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Curabitur pellentesque neque eget diam posuere porta hendrerit suere.</p>

					<div class="ts-divider">&nbsp;</div>

					<div class="service-items">
						<div class="row">
							<div class="col-sm-5 service-item-img"><img class="img-responsive" src="{% static 'images/market/small1.jpg' %}" alt="">
							</div>
							<div class="col-sm-7 service-item-content">
								<div class="content-list">
								<h4>Repair &amp; Maintenance</h4>
								<ul class="list-arrow style2">
									<li>Safety and Health Inspection</li>
									<li>Environmental Engineering</li>
									<li>Environmental Consulting</li>
									<li>Reliability and Safety Assessment</li>
									<li>Immediate response to clients’</li>
								</ul>
								</div>
							</div>
						</div><!--/ End 1st row -->
					</div><!--/ End service items -->

					<div class="ts-divider">&nbsp;</div>

					<div class="service-items">
						<div class="row">
							<div class="col-sm-7 service-item-content">
								<div class="content-list">
								<h4>Repair &amp; Maintenance</h4>
								<ul class="list-arrow style2">
									<li>Safety and Health Inspection</li>
									<li>Environmental Engineering</li>
									<li>Environmental Consulting</li>
									<li>Reliability and Safety Assessment</li>
									<li>Immediate response to clients’</li>
								</ul>
								</div>
							</div>
							<div class="col-sm-5 service-item-img"><img class="img-responsive" src="{% static 'images/market/small2.jpg' %}" alt="">
							</div>
						</div><!--/ End 1st row -->
					</div><!--/ End service items -->


			</div><!--/ Content col 8 end -->

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="sidebar sidebar-right">

					<!-- Latest Post Widget start -->
					<div class="widget">
						<h3 class="title-border"><strong>Core</strong> Technologies</h3>

						<ul class="list-arrow">
							<li>Push &amp; Safe Technology</li>
							<li>Environmental Engineering</li>
							<li>Environmental Consulting</li>
							<li>Stormwater Pollution Prevention Plans</li>
							<li>Reliability and Safety Assessment</li>
						</ul>
					</div><!-- Widget end -->

					<div class="widget solid dark">
						<h3 class="widget-title">Contact For Services</h3>
						<div class="widget-wrapper">
							<h4>U.S. Region</h4>
							<p class="ph-no">1-7600-BizSpeak</p>
							<p>(1-7600-727-4352)</p>
							<p><a href="#">Send us a question or comment <i class="fa fa-angle-right">&nbsp;</i></a></p>
							<h4>Europe Region</h4>
							<p class="ph-no">+44 (0) 2345.333.324</p>
						</div>

					</div><!-- Widget end -->

				</div><!--/ Sidebar end -->
			</div><!--/ Content col 4 end -->

		</div><!--/ Content row end -->

	</div><!--/ container end -->
		
</section><!--/ Main container end -->
	
<div class="gap-40"></div>
{% endblock body %}