{% extends 'base.html' %}
{% load static %}

{% block title %}
	Our Team - Technocs
{% endblock title %}

{% block body %}
	<div id="banner-area">
			<!-- Subpage title start -->
			<div class="banner-title-content">
				<div class="container">
		        	<ul class="breadcrumb" style="padding-top: 40px;">
			            <li>Home</li>
			            <li>Company</li>
			            <li><a href="#">Our Team</a></li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">

			<!-- About us -->
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
					<h2 class="article-title">Our People</h2>


					<h3 class="title-normal">Executive <strong>LeaderShip</strong></h3>
					<div class="row team-items">
						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/leader1.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Lusifan Angel</h4>
								<span class="team-item-desg">Chairman &amp; Chief Executive Officer</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/leader2.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Natthen J. White</h4>
								<span class="team-item-desg">Sr. Vice President &amp; Financial Officer</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/leader3.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Eduardo Keylleys</h4>
								<span class="team-item-desg">Executive Vice President</span>
							</div>
						</div><!--/ Team item col end -->
					</div><!--/ Team Leader items row end -->

					<div class="gap-40"></div>

					<h3 class="title-normal">Executive <strong>Officers</strong></h3>
					<div class="row team-items">
						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team1.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Leslie R. Kelley</h4>
								<span class="team-item-desg">Chief Technial Officer</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team2.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Kevin Dixon</h4>
								<span class="team-item-desg">Operations Excellence</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team3.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Michael J. Higgins</h4>
								<span class="team-item-desg">Treasury &amp; Tax</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="gap-20"></div>

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team4.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Tara Gray</h4>
								<span class="team-item-desg">Controller</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team5.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Connie Tinker</h4>
								<span class="team-item-desg">Chief HRD Officer</span>
							</div>
						</div><!--/ Team item col end -->

						<div class="col-sm-4 team-item">
							<div class="team-item-img">
								<img class="img-responsive" src="{% static 'images/team/team6.jpg' %}" alt="">
							</div>
							<div class="team-item-info">
								<h4 class="team-item-name">Gabriel Mantry</h4>
								<span class="team-item-desg">Procurement &amp; Materials</span>
							</div>
						</div><!--/ Team item col end -->


					</div><!--/ Executive team items row end -->



				</div><!--/ Content col 8 end -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">

						<!-- Latest Post Widget start -->
						<div class="widget">
							<h3 class="title-border"><strong>Latest</strong> News</h3>

							<div class="latest-post">
								<div class="post-body">
									<p class="post-meta">
										<i class="fa fa-calendar"></i> <span class="date"> 05 July, 2015</span>
									</p>
									<h4 class="latest-post-title">
										<a href="#">
											Thewall Disperser Filling From Biz: Efficient Fiber Treatment Due to A Unique Design
										</a>
									</h4>
								</div>
							</div><!-- Latest Post end -->

							<div class="latest-post">
								<div class="post-body">
									<p class="post-meta">
										<i class="fa fa-calendar"></i> <span class="date"> 02 July, 2015</span>
									</p>
									<h4 class="latest-post-title">
										<a href="#">
											We are to Supply Synchronous condensers to Manitoba Hydro’s Riel project
										</a>
									</h4>
								</div>
							</div><!-- Latest Post end -->

							<div class="latest-post">
								<div class="post-body">
									<p class="post-meta">
										<i class="fa fa-calendar"></i> <span class="date"> 30 April, 2015</span>
									</p>
									<h4 class="latest-post-title">
										<a href="#">
											BizSpeak CFO to Present at Baird Growth Stock Conference
										</a>
									</h4>
								</div>
							</div><!-- Latest Post end -->

							<div class="latest-post">
								<div class="post-body">
									<p class="post-meta">
										<i class="fa fa-calendar"></i> <span class="date"> 22 June, 2015</span>
									</p>
									<h4 class="latest-post-title">
										<a href="#">
											BizSpeak Signs Long-Term Supply Contract with Water Recycling Plant
										</a>
									</h4>
								</div>
							</div><!-- Latest Post end -->
							
							
						</div><!-- Latest Post Widget end -->

					</div><!--/ Sidebar end -->
				</div><!--/ Content col 4 end -->

			</div><!--/ Content row end -->

		</div><!--/ container end -->
			
	</section><!--/ Main container end -->

	<div class="gap-40"></div>

{% endblock body %}