{% extends 'adminpanel/base.html' %}
{% load static %}

{% block title %}Category{% endblock title %}

<!-- CSS -->

{% block css %}
    <!-- MDBootstrap Datatables  -->
    <link href="{% static 'adminpanel/css/addons/datatables.min.css' %}" rel="stylesheet" />
{% endblock css %}

<!-- Script -->

{% block script %}
    <!-- MDBootstrap Datatables  -->
    <script type="text/javascript" src="{% static 'adminpanel/js/addons/datatables.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
        $('#dtBasicExample').DataTable();
        $('.dataTables_length').addClass('bs-select');
        });
    </script>
{% endblock script %}

{% block breadcrumb %}Category{% endblock breadcrumb %}

{% block body %}
<div class="blank">
    <div class="blank-page">
        <div class="grid_3 grid_5">
            {% for message in messages %}
                {% if message %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% endif %} alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{message.tags.title}}!</strong>&nbsp;{{message}}
                </div>
                {% endif %}
            {% endfor %}
            <div class="bs-example2 bs-example-padded-bottom">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#CategoryModal">
                    Add Category &nbsp;&nbsp; <i class="fa fa-plus"></i>
                </button>
                <hr>
                <div class="modal fade" id="CategoryModal" tabindex="-1" role="dialog" aria-labelledby="CategoryModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="{% url 'category' %}" method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">×</button>
                                    <h2 class="modal-title">Add Category</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tag Category</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-tag"></i>
                                                    </span>
                                                    <select name="categorytag" id="selector1" class="form-control1" required>
                                                        <option>Select</option>
                                                        {% for tag in tags %}
                                                        <option value={{tag.id}}>{{tag.categoryTitle}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Category Title</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-tag"></i>
                                                    </span>
                                                    <input type="text" name="categorytitle" class="form-control1"
                                                        placeholder="Enter Category Title" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <label for="exampleInputFile">File input</label>
                                                <input type="file" id="exampleInputFile" name="image" required>
                                                <p class="help-block">Select Category Image</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-9">
                                                <div class="checkbox-inline1">
                                                    <label>
                                                        <input type="checkbox" name="isActive">&nbsp;Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">Category ID</th>
                        <th class="th-sm">Category Title</th>
                        <th class="th-sm">Category Image</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{category.category_id}}</td>
                        <td>{{category.subCategoryTitle}}</td>
                        <td><img src="../../{{category.image}}" height='100' width='200' /></td>
                        <td>
                            {% if category.isActive == True %}
                                Show
                            {% else %}
                                Hide
                            {% endif %}
                        </td>
                        <td>
                            {% if category.isActive == True %}
                                <a href="{% url 'tagCategoryStatus' 'Hide' category.category_id %}" class="btn btn-danger">
                                    Hide
                                </a>
                            {% else %}
                                <a href="{% url 'tagCategoryStatus' 'Show' category.category_id %}" class="btn btn-success">
                                    Show
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="th-sm">Category ID</th>
                        <th class="th-sm">Category Title</th>
                        <th class="th-sm">Category Image</th>
                        <th class="th-sm">Status</th>
                        <th class="th-sm">Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock body %}